* {
    padding: 0;
    margin: 0;
}


.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 2rem;
    column-gap: normal;
    
}

.card {
    width: 300px;
    background: #f1f1f1;
    height: 470px;
}

.img-card {
    background: rgb(0, 0, 0);
    height: 200px;
    margin-bottom: 15px 15px 0  0;
    background-size: cover;
}

h3 {
    padding-bottom: 20px;
}

p {
    color: #000;
    padding-bottom: 170px;
}