.container{
    display:grid;
    border: 1px solid black;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "pipoca pipoca pipoca pipoca"
                         " pipoca2 pipoca2 . pipoca3"
                         " pipoca4 pipoca4 pipoca4 pipoca5";
}

.item-1{
    grid-area: pipoca;
    border: 1px solid maroon;
}

.item-2{
    grid-area: pipoca2;
    border: 1px solid coral;
}

.item-3{
    grid-area: pipoca3;
    border: 1px solid yellowgreen;
}

.item-4{
    grid-area: pipoca4;
    border: 1px solid orange;
}

.item-5{
    grid-area: pipoca5;
    border: 1px solid blue;
}
