*{
    background-color: #eefaa8;
    font-family: 'Rajdhani', sans-serif;
    
}

header{
    background-color: #649ea7;
    text-align: center;
    border: 1px #000000 solid;
}

table{
    border: 1px #000000 solid;

}

th{
    color:#8fbfb9 ;
    background-color: black;
    font-size: bold;
}